//colors
$primary-color: #0433b5;
$secondary-color: #ffffff;
$gray-color1: #ccc;
$gray-color2: gray;

//fonts
$primary-font: 'Avenir', sans-serif;
$primary-font-size: 12px;
$secondary-font-size: 14px;